body {
  margin: 0px;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-areas: "header header" "visualisation form" "footer footer";
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 5vh 90vh 5vh;
  margin: 0px auto;
  height: 100vh;
  margin: 0px;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.form {
  grid-area: form;
  border: 5px solid black;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

h4 {
  margin: 0px;
  text-transform: uppercase;
}
